node_modules/
out/
release/
dist/
*.AppImage
*.exe
*.dmg
*.blockmap
.DS_Store
*.log
resources/bin/linux-*/
resources/bin/windows-*/
resources/bin/darwin-*/
resources/bin/*.dat
.env
.env.*
cache.db
__pycache__/
*.pyc
